.container{
    margin-bottom: 80px;
}
.pink-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price-color{
    color: #FF136F;
}
.buy-button{
    background-image: linear-gradient(to bottom, #ff5898 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px
}
.cat1, .cat2, .cat3{
    border-radius: 10px;
    padding: 10px 20px;
}
.cat1{
    background-color: orange;
    
}
.cat2{
    background-color: skyblue;
}
.probbag{
    padding:0, 30px;
}
.cat3{
    background-color: tomato;
}
.categories h1{
    color: white;
}
.categories img{
    width: 130px;
}
.card{
    border: none;
    box-shadow: 5px 5px 5px rgb(216, 216, 219);
}

#subscribe {
    padding: 50px 50px;
}
input{
    border: none;
}
#subscribe h6{
    color: grey;
}
footer{
    text-align: center;
}